
@{
    ViewData["Title"] = "Menu";
}

    <form asp-controller="StoreManagement" asp-action="Index" method="get">
        <button type="submit" class="btn btn-primary btn-lg btn-block">Stores Management</button>
    </form>
    <form asp-controller="Session" asp-action="Index" method="get">
        <button type="submit" class="btn btn-primary btn-lg btn-block">Session</button>
    </form>
    <form asp-controller="Order" asp-action="Index" method="get">
        <button type="submit" class="btn btn-primary btn-lg btn-block">Order</button>
    </form>
    <form asp-controller="Message" asp-action="Index" method="get">
        <button type="submit" class="btn btn-primary btn-lg btn-block">Message</button>
    </form>    