
@{
    ViewData["Title"] = "Menu";
}

<html>
<body>

    <button type="button" class="btn btn-primary btn-lg btn-block"> Session </button>
    <button type="button" class="btn btn-primary btn-lg btn-block"> Stores Management </button>
    <button type="button" class="btn btn-primary btn-lg btn-block"> Order </button>
    <button type="button" class="btn btn-primary btn-lg btn-block"> Message </button>

</body>
</html>