@model Store
@{
    ViewData["Title"] = "Delete";
}


<h2>Are you sure you want to delete '@Model.Name' Restaurant?</h2>
<hr />
<p></p>
<div class="row">

    <form asp-action="Delete">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <button type="submit" style="width:100%" class="btn btn-primary btn-lg btn-block"><i class="fas fa-trash"></i>&nbsp;&nbsp;Delete</button>
    </form>
    &nbsp;
    <form asp-controller="StoreManagement" asp-action="Index" method="get">
        <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="fas fa-arrow-circle-left"></i>&nbsp;&nbsp;Back</button>
    </form>

</div>

