@model Store
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<hr />
<table class="table">

    <tr>
        <th>Name</th>
        <th>Menu</th>
    </tr>
    <tr>
        <th style="font-weight:400;font-size:18px">@Model.Name</th>
        <th style="font-weight:400;font-size:18px">@Model.Menu.Hyperlink</th>
    </tr>
</table>
