
@{
    ViewData["Title"] = "Session";
}

<html>
<body>

    <button type="button" class="btn btn-primary">Bluish - btn-primary</button>
    <button type="button" class="btn btn-outline-primary">New Session</button>

</body>
</html>

