@model bool

@{
    ViewData["Title"] = "Menu";
}

    <div class="menu-container">

        <div align="center">
            <img src="~/Logo.png" class="img-fluid" />
        </div>
        <div align="center">
            @if (Model == true)
            {
                <h1><i class="fas gl-on fa-globe-europe"></i></h1>
            }
            else if (Model == false)
            {
                <h1><i class="fas gl-off fa-globe-europe"></i></h1>
            }
        </div>

        @if (ViewContext.HttpContext.User.IsInRole("Admin"))
        {
            <form asp-controller="StoreManagement" asp-action="Index" method="get">
                <button type="submit" style="width:100%" class="btn btn-primary btn-lg btn-block">Restaurants Management</button>
            </form>
            <form asp-controller="Session" asp-action="Index" method="get">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Session</button>
            </form>
        }

        <form asp-controller="Order" asp-action="Index" method="get">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Order</button>
        </form>

        <form asp-controller="Order" asp-action="Index" method="get">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Order</button>
        </form>


    </div>
