
@{
    ViewData["Title"] = "UserIndex";
}

    <div class="menu-container">
        <form asp-controller="Order" asp-action="Index" method="get">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Order</button>
        </form>
        <form asp-controller="Message" asp-action="Index" method="get">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Message</button>
        </form>
    </div>

