@{
    ViewData["Title"] = "DeleteOrder";
}

<h2>Your order has been canceled</h2>

<div class="container">
    <div class="row top-buffer">
        <div class="col-md-4">
            <form asp-action="Index" method="post" asp-controller="Order">
                <button type="submit" class="btn btn-primary btn-lg btn-block btn-order"><i class="fas fa-cart-plus"></i>&nbsp;&nbsp;&nbsp;Start New Order</button>
            </form>
        </div>

        <div class="col-md-4">
            <form asp-action="Back" method="post" asp-controller="Order">
                <button type="submit" class="btn btn-primary btn-lg btn-block btn-order"><i class="fas fa-arrow-circle-left"></i>&nbsp;&nbsp;&nbsp;Homepage</button>
            </form>
        </div>
    </div>
</div>