@model Session

@{
    ViewData["Title"] = "Index";
}

@if (Model == null)
{
    <h1>No session is currently active</h1>
}
else
{
    <h1>Restaurants</h1>

    <table>
        @foreach (var store in Model.Stores)
        {
            <tr>
                <th>
                    <form asp-controller="Order" asp-action="PlaceRestaurantOrder" asp-route-id="@store.Id" method="get">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">
                            @Html.DisplayFor(modelItem => store.Name)
                        </button>
                    </form>
                </th>
            </tr>
        }

    </table>
}



