@model Session

@{
    ViewData["Title"] = "Index";
}

@if (Model == null)
{
    <div class="container">
        <h1>No session is currently active</h1>
    </div>
}
else
{
    <div class="container">
        <h2>Today's Restaurants</h2>
        <div class="row">
            @foreach (var store in Model.Stores)
            {

                <div class="col-md-4 btn-padding">
                    <form asp-controller="Order" asp-action="PlaceRestaurantOrder" asp-route-id="@store.Id" method="get">
                        <button type="submit" class="btn1 btn-primary btn-lg btn-block">
                            @Html.DisplayFor(modelItem => store.Name)
                        </button>
                    </form>
                    <br />
                </div>
            }
        </div>
    </div>
}



