@model Session

@{
    ViewData["Title"] = "Index";
}

@if (Model == null)
{
    <h1>No session is currently active</h1>
}
else
{
    <h1>Restaurants</h1>

    <table>

    @foreach (var item in Model.Stores)
    {
        <tr>
            <th>
                 <form asp-controller="Order" asp-action="ChoseRestaurant" method="get">
                     <button type="submit" class="btn btn-primary btn-lg btn-block">
                        @Html.DisplayNameFor(modelItem => item);
                     </button>
                 </form>
            </th>
        </tr>
    }

    </table>

    <form asp-controller="Order" asp-action="PlaceOrder" method="get">
        <button type="submit" class="btn btn-primary btn-lg btn-block">Place Order</button>
    </form>
}


