@model Order

@{
    ViewData["Title"] = "ModifyOrder";
}

<h1>Your order has been modified</h1>

<div>
    Details:
    <pre>
    Restaurant : @Html.DisplayFor(itemModel => Model.Store.Name)
    Option : @Html.DisplayFor(itemModel => Model.Details)
    Price : @Html.DisplayFor(itemModel => Model.Price)
    </pre>
</div>

<div class="row top-buffer">

    <div class="col-md-4 top-buffer">
        <div class="textRight"><br /><h4>Back to Homepage</h4></div>
        <form asp-action="Back" method="post" asp-controller="Order">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Homepage</button>
        </form>
    </div>

    <div class="col-md-4 top-buffer">
        <div class="textRight"><br /><h4>Delete your Order</h4></div>
        <form asp-action="DeleteOrder" method="post" asp-controller="Order">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Delete order </button>
        </form>
    </div>

    <div class="col-md-4 top-buffer">
        <div class="textRight"><br /><h4>Change your Order</h4></div>
        <form asp-action="Index" method="post" asp-controller="Order">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Change order </button>
        </form>
    </div>

</div>