@model PlaceRestaurantOrderVM

@{
    ViewData["Title"] = "ModifyOrder";
}

<div class="container">
    <div class="row" style="text-align:center">
        <h3>Your order has been modified</h3>
    </div>
    <div class="row" style="text-align:center">
        <h5>Order details:</h5>
    </div>
    <div class="row">
        <pre>
    Restaurant: @Html.DisplayFor(itemModel => Model.StoreName)
    Option: @Html.DisplayFor(itemModel => Model.Order.Option)
    Price: @Html.DisplayFor(itemModel => Model.Order.Price)
        </pre>
    </div>

    <div class="row top-buffer">

        <div class="col-md-4">
            <form asp-action="Back" method="post" asp-controller="Order">
                <button type="submit" class="btn btn-primary btn-lg btn-block btn-order"><i class="fas fa-arrow-circle-left"></i>&nbsp;&nbsp;&nbsp;Back to Homepage</button>
            </form>
        </div>

        <div class="col-md-4">
            <form asp-action="DeleteOrder" method="post" asp-controller="Order">
                <button type="submit" class="btn btn-primary btn-lg btn-block btn-order"><i class="fas fa-window-close"></i>&nbsp;&nbsp;&nbsp;Cancel order </button>
            </form>
        </div>

        <div class="col-md-4">
            <form asp-action="Index" method="post" asp-controller="Order">
                <button type="submit" class="btn btn-primary btn-lg btn-block btn-order"><i class="fas fa-edit"></i>&nbsp;&nbsp;&nbsp;Change order </button>
            </form>
        </div>

    </div>
</div>