@model PlaceRestaurantOrderVM

@{
    ViewData["Title"] = "PlaceOrder";
}

<div class="container">
    <div style="text-align:center">
        <h2>Your order was placed</h2>
    </div>

    <div class="row">
        <h5>Order details:</h5>
    </div>
    <div class="row">
        <pre>
    Restaurant: @Html.DisplayFor(itemModel => Model.StoreName)
    Option: @Html.DisplayFor(itemModel => Model.Order.Option)
    Price: @Html.DisplayFor(itemModel => Model.Order.Price)
        </pre>
    </div>

    <form asp-controller="Order" asp-action="Back" method="get">
        <input type="hidden" asp-for="StoreName" />
        <button type="submit" class="btn btn-primary btn-lg btn-block btn-order"><i class="fas fa-arrow-circle-left"></i>&nbsp;&nbsp;&nbsp;Back to Homepage</button>
    </form>
</div>