
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}



.menu-container {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;  
    
}
.menu-container > * > .btn {
    margin-top: 10px;
    height: 75px;
}

.order-table-header {
    font-size: 100%;
    font-weight: bold;
}
tbody tr:nth-child(odd) {
    background: #d2e0f7;
}
tbody tr:nth-child(even) {
    background: #bcd1f2;
}
.alternate-primary {
    background-color: #d4e2f9;
}

.alternate-secondary {
    background-color: #b3caf2;
}

.box {
    padding: 0 5px 0 5px;
}

/*------------------------------------------------------------------
                    Order css
*/

.padding-top{
    padding-top: 2%;
}

.padding-text{
    padding-left: 4%;
}

.btn-padding{
    padding: 10px 10px 10px 10xp;
}

.wordwrap {
    white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
    white-space: -webkit-pre-wrap; /*Chrome & Safari */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    white-space: pre-wrap; /* css-3 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    word-break: break-all;
    white-space: normal;
}

.size-history {
    font-size: 16px;
}

    .btn1:hover {
        background-color: #5684ce;
        color: white;
    }

.restaurants-list-details-container {
    display:flex;
    flex-direction: column;
    align-items:stretch;
    justify-content: flex-start;
    font-size: 14px;
}

.restaurants-list-restaurant-name {
    font-size: 16px;
    font-weight: bold;
}

.gl-on {
    color: black;
}

.gl-off {
    color: green;
}

.btn-order {
    margin-top: 15px;
} 