@model Session
@{
    ViewData["Title"] = "Details";
}

@{ decimal price = 0.00m; }

<h1>Details</h1>

<table class="table">

    <tr>
        <th>User</th>
        <th>Order</th>
        <th>Price</th>
    </tr>
    
    @foreach(var item in Model.Orders)
    {
        price = price + item.Price;
        <tr>
            <th style="font-weight:400;font-size:18px">@item.User.Name</th>
        <th style="font-weight:400;font-size:18px">@item.Details</th>
        <th style="font-weight:400;font-size:18px">@item.Price lei</th>
        </tr>
    }
</table>
   <h1 style="font-size:22px;font-weight:500"> Order Total Price : @price </h1>
