@model IEnumerable<Session>
@{
    ViewData["Title"] = "SessionHistory";
}

<h1>Session History</h1>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
    </tr>
</table>

