
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<form asp-controller="Session" asp-action="" method ="get">
    <button type="submit" class="btn btn-primary">Bluish - btn-primary</button>
</form>
<form asp-controller="Session" asp-action="NewSession" method="get">
    <button type="submit" class="btn btn-outline-primary">New Session</button>
</form>