
@{
    ViewData["Title"] = "Session";
}
    <form asp-controller="Session" asp-action="NewSession" method="get">
        <button type="submit" class="btn btn-primary btn-lg btn-block">New Session</button>
    </form>
    <form asp-controller="Session" asp-action="History" method="get">
        <button type="submit" class="btn btn-primary btn-lg btn-block">Sessions History</button>
    </form>

