@model IEnumerable<Session>
@{

    ViewData["Title"] = "Session";
}

@{string textButton = "New Session"; }

@{ 
    foreach(var item in Model)
    {
        if(item.IsActive == true)
        {
            textButton = "Active Session";
        }
    }
}


    <div class="menu-container">
        <form asp-controller="Session" asp-action="NewSession" method="get">
            <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="fas fa-drumstick-bite"></i>&nbsp;&nbsp;@textButton</button>
        </form>
        <form asp-controller="Session" asp-action="History" method="get">
            <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="fas fa-history"></i>&nbsp;&nbsp;Sessions History</button>
        </form>
        <form asp-controller="Home" asp-action="Index" method="get">
            <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="fas fa-arrow-circle-left"></i>&nbsp;&nbsp;Back</button>
        </form>
    </div>


